<section class="user-details">
    <div class="container form-card">
        <h1 class="text-center">{{submitType}} User-Details</h1>
        <form [formGroup]="userForm" autocomplete="off"
            (ngSubmit)="submitType == 'Add' ? onAddUserFormSubmit() : updateUserDataList()">
            <div class="row g-3 mb-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" formControlName="fullName" class="form-control" id="floatingInputGrid"
                            placeholder="Full Name"
                            [class.form-control-error]="userForm.get('fullName')?.invalid && userForm.get('fullName')?.touched" />
                        <label for="floatingInputGrid">Full Name</label>
                        <div
                            *ngIf="(userForm.get('fullName')?.invalid && userForm.get('fullName')?.touched) || userForm.get('fullName')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('fullName')?.errors?.required">FullName is
                                required</small>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <!-- <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon-1">{{ageOfUser}}</span>
                        <span class="form-floating">
                            <input type="date" formControlName="dob" (change)="calculateAge()" class="form-control"
                                aria-describedby="basic-addon1" id="floatingInputGrid" placeholder="Date of Birth" />
                            <label for="floatingInputGrid">DOB</label>
                            <div
                                *ngIf="(userForm.get('dob')?.invalid && userForm.get('dob')?.touched) || userForm.get('dob')?.dirty">
                                <small class="text-danger" *ngIf="userForm.get('dob')?.errors?.required">DOB is
                                    required</small>
                            </div>
                        </span>
                    </div> -->
                    <div class="form-floating">
                        <input type="date" formControlName="dob" (change)="calculateAge()" class="form-control"
                            aria-describedby="basic-addon1" id="floatingInputGrid" placeholder="Date of Birth"
                            [class.form-control-error]="userForm.get('dob')?.invalid && userForm.get('dob')?.touched" />
                        <label for="floatingInputGrid">DOB</label>
                        <div
                            *ngIf="(userForm.get('dob')?.invalid && userForm.get('dob')?.touched) || userForm.get('dob')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('dob')?.errors?.required">DOB is
                                required</small>
                            <small class="text-danger"
                                *ngIf="userForm.get('dob')?.errors && !userForm.get('dob')?.errors?.required">DOB is
                                invalid</small>
                        </div>
                        <div *ngIf="(userForm.get('dob')?.valid)">Age: {{ageOfUser}}</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" formControlName="designation" class="form-control" id="floatingInputGrid"
                            placeholder="Designation"
                            [class.form-control-error]="userForm.get('designation')?.invalid && userForm.get('designation')?.touched" />
                        <label for="floatingInputGrid">Designation</label>
                        <div
                            *ngIf="(userForm.get('designation')?.invalid && userForm.get('designation')?.touched) || userForm.get('designation')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('designation')?.errors?.required">Designation
                                is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="row g-2 mb-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="email" formControlName="email" class="form-control" id="floatingInputGrid"
                            placeholder="name@example.com"
                            [class.form-control-error]="userForm.get('email')?.invalid && userForm.get('email')?.touched" />
                        <label for="floatingInputGrid">Email address</label>
                        <div
                            *ngIf="(userForm.get('email')?.invalid && userForm.get('email')?.touched) || userForm.get('email')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('email')?.errors?.required">Email address is
                                required</small>
                            <small class="text-danger" *ngIf="userForm.get('email')?.errors?.pattern">Email address is
                                invalid</small>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" formControlName="company" class="form-control" id="floatingInputGrid"
                            placeholder="name@example.com"
                            [class.form-control-error]="userForm.get('company')?.invalid && userForm.get('company')?.touched" />
                        <label for="floatingInputGrid">Company</label>
                        <div
                            *ngIf="(userForm.get('company')?.invalid && userForm.get('company')?.touched) || userForm.get('company')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('company')?.errors?.required">Company name is
                                required</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="row g-3 mb-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" formControlName="address" class="form-control" id="floatingInputGrid"
                            placeholder="name@example.com"
                            [class.form-control-error]="userForm.get('address')?.invalid && userForm.get('address')?.touched" />
                        <label for="floatingInputGrid">Address</label>
                        <div
                            *ngIf="(userForm.get('address')?.invalid && userForm.get('address')?.touched) || userForm.get('address')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('address')?.errors?.required">Address is
                                required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="tel" formControlName="phone" class="form-control" id="floatingInputGrid"
                            placeholder="name@example.com" [textMask]="{mask: number}"
                            [class.form-control-error]="userForm.get('phone')?.invalid && userForm.get('phone')?.touched" />
                        <label for="floatingInputGrid">Phone</label>
                        <div
                            *ngIf="(userForm.get('phone')?.invalid && userForm.get('phone')?.touched) || userForm.get('phone')?.dirty">
                            <small class="text-danger" *ngIf="userForm.get('phone')?.errors?.required">Phone number is
                                required</small>
                            <small class="text-danger"
                                *ngIf="userForm.get('phone')?.errors && !userForm.get('phone')?.errors?.required">Phone
                                number is
                                invalid</small>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="">Gender</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male"
                            formControlName="gender">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female"
                            formControlName="gender">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                    <div
                        *ngIf="(userForm.get('gender')?.invalid && userForm.get('gender')?.touched) || userForm.get('gender')?.dirty">
                        <small class="text-danger" *ngIf="userForm.get('gender')?.errors?.required">Gender is
                            required</small>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button [disabled]="!userForm.valid" class="btn btn-success" type="submit">
                    <i class="mx-1" [ngClass]="submitType == 'Add' ? 'fas fa-user-plus':'fas fa-user-edit'"></i>
                    {{submitType}}</button>
            </div>
        </form>
    </div>

    <!-- User Data Table -->
    <div class="container details-table mt-3" style="overflow-x:auto;">
        <h1 class="text-center">
            User Data
        </h1>
        <h3 class="text-center" *ngIf="userDataList.length == 0">Nothing to show yet!! :(</h3>
        <table class="table table-striped table-hover">
            <thead *ngIf="userDataList.length != 0">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Email</th>
                    <th scope="col">Company</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>He</td>
                    <td>f</td>
                    <td>f</td>
                    <td>h</td>
                    <td>g</td>
                    <td>h</td>
                    <td>a</td>
                    <td>f</td>
                    <td>
                        <button id="cusEdit" class="btn-icon btn btn-sm mx-1">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button [disabled]="submitType=='Update'" id="cusEdit"
                            class="btn-icon btn btn-sm mx-1">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr> -->
                <tr *ngFor="let user of userDataList; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.fullName}}</td>
                    <td>{{user.dob  | date: 'dd-MM-yyyy'}} </td>
                    <td>{{user.designation}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.company}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.gender}}</td>
                    <td>
                        <button (click)="editUserRow(i)" id="cusEdit" class="btn-icon btn btn-sm mx-1">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button (click)="deleteUserRow(i)" [disabled]="submitType=='Update'" id="cusEdit"
                            class="btn-icon btn btn-sm mx-1">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
           
            
        </table>
        <div class="text-center text-success">
            <h6>{{successMessage}}</h6>
        </div>
        <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success" (click)="saveDataToDB()" ><i class="fas fa-save mx-2"></i>Save Data</button>
        </div>
    </div>
</section>