
<!-- Footer Section -->
<section id="footer" class="bg-dark text-center mt-3">
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-4 mt-3">
                <h1>Activity Dashboard</h1>
                <p class="color-swap">Welcome to your own <br>Personal Dashboard.</p>
                <br>
            </div>
            <div class="col-md-4 mt-3 explore">
                <h4>EXPLORE</h4>
                <ul>
                    <li><a [routerLink]="['/dashboard']">Home</a></li>
                    <li><a [routerLink]="['./posts']">Posts</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3 explore">
                <h4>Powered By</h4>
                <ul>
                    <li><a href="https://getbootstrap.com" target="_blank">Bootstrap5</a></li>
                    <li><a href="https://fontawesome.com/" target="_blank">FontAwesome</a></li>
                    <li><a href="https://www.chartjs.org/" target="_blank">Charts.js</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <p class="color-swap">&copy;2021 Cozentus. All rights reserved.</p>
        </div>
    </div>



</section>