<div class="container">
    <div class="card settings_card">
        <h1>Settings Here</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi rerum id quas, perspiciatis dolorem
        est at! Soluta, id dolore alias dignissimos dolor aspernatur quidem impedit porro. Dolores, ad quasi.
    </div>
</div>